<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyORM-Micro-framework</title>
    <meta name="description" content=" Micro-Framework PHP5 (ORM & MVC)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link href="{{ constant('URL') }}public/css/bootstrap.min.css" rel="stylesheet">

    <!-- our JavaScript -->
    <script src="{{ constant('URL') }}public/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- header -->
    <div class="container">
        <!-- Info -->
        <h1>The header (used on all pages)</h1>
        <!-- navigation -->
        <h3>Demo Navigation</h3>
        <div class="navigation">
            <ul>
                <!-- same like "home" or "home/index" -->
                <li><a href="{{ constant('URL') }}">home</a></li>
                <li><a href="{{ constant('URL') }}home/exampleone">home/exampleone</a></li>
                <li><a href="{{ constant('URL') }}home/exampletwo">home/exampletwo</a></li>
            </ul>
        </div>
    </div>

    <!-- Content, will be passed here via Twig -->
    {% block content %} {% endblock %}

</body>
</html>