<!DOCTYPE html>
<html lang="fr">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Default title{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ constant('URL') }}public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ constant('URL') }}public/css/simple-sidebar.css" rel="stylesheet">
    
    <!-- Include jQuery (Syntax Highlighter Requirement) -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=default"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
    
     <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        ORM...
                    </a>
                </li>
                <li>
                    <a href="{{ constant('URL') }}bdd/get/entity/2">entity</a>
                </li>
                <li>
                    <a href="{{ constant('URL') }}bdd/get/categories/2">categories</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
       				{% block content %} {% endblock %}
       			</div>
            </div>
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ constant('URL') }}public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ constant('URL') }}public/js/bootstrap.min.js"></script>

</body>

</html>        
