{% extends "_templates/base.twig" %}

{% block title %}
Get {{ get }}
{% endblock %}

{% block content %}

<div class="col-lg-12">
	<h1>PHP <small>(<b>~{{ DALlength }}</b> lines économisées)</small></h1>
	
		<pre class="prettyprint linenums lang-php">
&#139;?php 
	{{ syntax }} 
?&#155;</pre>

<br />

	<h1>SQL <small>(<b>{{ SQLsyntax|length }}</b> requête(s))</small></h1>
	
	<pre class="prettyprint linenums lang-sql">{% for SQLSinglesyntax in SQLsyntax %}
{{ SQLSinglesyntax }}
{% endfor %}</pre>

	<br />

	<h1>Result <small>(<b>{{ microtime }}</b> seconde(s))</small></h1>

		<pre class="prettyprint linenums">{{ dump(result) }}</pre>

</div>

<!-- /#page-content-wrapper -->
        
{% endblock %}