{% extends "_templates/base.twig" %}
{% block content %}

<div class="col-lg-12">

	{% if syntax %}
	<h1>PHP</h1>
			
<pre class="prettyprint linenums lang-php">&#139;?php 
	{{ syntax }} 
?&#155;</pre>
{% endif %}

<br />

<h1>SQL <small>(<b>{{ SQLsyntax|length }}</b> requête(s))</small></h1>
	
	<pre class="prettyprint linenums lang-sql">{% for SQLSinglesyntax in SQLsyntax %}
{{ SQLSinglesyntax }}
{% endfor %}</pre>
	
	<br />
	
	<form action="" method="post">		  
		  {% for key,structure in structure %}
			  <div class="form-group">
				    <label for="exampleInputPassword1">{{ key }}</label>
				    <input type="text" class="form-control" id="exampleInputPassword1" name="{{ key }}" placeholder="{{ structure }}" value="{{ structure }}">
			  </div>
		  {% endfor %}
		  
		  <button type="submit" class="btn btn-default">Submit</button>
	</form>

</div>

<!-- /#page-content-wrapper -->
        
{% endblock %}